body {
    background-color: #000;
    color: #AAA;
}

#mainbody {
    width: 640px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    margin-top: -8px;
}

#saveError {
    color: red;
}

#knowledgeTextArea {
    width: 640px;
    height: 480px;
}

#logo-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
